h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

#hintOne {
    float: right;
    margin-right: 480px;
    font-weight: bold;
}

#reset {
    float: left;
    margin-left: 100px;
    font-weight: bold;
}

#toLevel2 {
    margin-left: 60px;
    display: none;
    font-weight: bold;
}

#black {
    position: absolute;
    left: 750px;
    top: 320px;
}

#blue {
    position: absolute;
    left: 790px;
    top: 320px;
}

#portalDiv {
    background: rgb(123, 42, 177);
    position: absolute;
    left: 580px;
    top: 140px;
    display: inline-block;
    width: 32px;
    height: 400px;
}